*
{margin:0;
padding:0;
background-color: black;
color: white;
}

.varcontainer
{
margin-top:0px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.container h2{text-align:center;}

.varcard
{
    border:3px solid white;
    width: 18rem;
    color:white;
}
@media only screen and (max-width: 400px) {
  .varcard {
    width: 12rem;
  
  }
}
.vardelbtn {
 background: black;
  display: inline-block;
  border-radius: 4px;
  color: white;
  margin: 8px;
  padding: 4px;
  filter: hue-rotate(0deg);
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #866ac2;
}

.vardelbtn:hover span {
  position: absolute;
  display: block;
}

.vardelbtn:hover span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  filter: hue-rotate(0deg);
  background: linear-gradient(90deg, transparent, #f24b38);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.vardelbtn:hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  filter: hue-rotate(60deg);
  background: linear-gradient(180deg, transparent, #ff3a3a);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.vardelbtn:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}
.vardelbtn:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

